%spaceB {
  justify-content: space-between;
  align-items: center;
}

%flexCenter {
  justify-content: center;
  align-items: center;
}

%projectPadding {
  padding: 20px 150px;
}

%container {
  width: 80%;
  margin: 0 auto;
}

%firstLetter {
  text-transform: uppercase;
  color: #622b99;
}

%title {
  font: 700 1.6rem/1.6 "Century Gothic";
  text-align: center;
  margin: 10px 20px;
  border: 2px solid darkred;
}

%posABtn {
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  bottom: 30px;
}
