@import '../scss/varibles/variables';
%text-shadow{
  text-shadow: 2px 2px 6px #111111;
}


$violetcolor: #906dc6;

.wrapper {
  position: relative;
  @include flexDirection(column);
  align-items: center;

  min-width: 300px;
  padding: 10px;
  border: 3px solid #5a0d0d;
  background-color: #b4d992;

  &__title {
    font-family: 'Century Gothic', sans-serif;
    padding-top: 15px;
    @extend %text-shadow;

    @include font(getWeight("bold"), 20.0);
  }

  &__list {
    box-sizing: border-box;
    //border: 2px blue solid;
    width: 98%;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__listItem {
    @include flexDirection(row);
    align-items: center;
    justify-content: space-between;

    margin: 5px;
    box-shadow: 1px 1px 7px #2a0303;
    padding-bottom: 10px;
  }

  &__flag {
    margin-right: 15px;
    margin-left: 5px;
  }
}

.btn {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  margin-left: 15px;
  padding: 3px 6px;
  border-radius: 5px;
  background-color: $darkredcolor;
  box-shadow: 2px 2px 6px black;

  @include flexCenter;

  &_deleteItem {
    width: 20px;
    height: 20px;
    background-color: #9c49ce;
    margin-right: 10px;

    justify-self: right;
  }

  &_deleteTodoList {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.btnBlock {
  margin: 0 auto;

  //border: 2px yellowgreen solid;
  padding: 5px;

  &_active {
    background-color: $violetcolor;
  }

  button {
    margin: 2px;
    padding: 5px 10px;
    border-radius: 5px;
  }
}


