@import '../scss/varibles/variables';

.wrapper {
  align-items: flex-start;
  justify-content: space-around;

  margin: 10px 30px;

  @include flexDirection(row);
  //border: 2px solid black;

  &__inputBlock {
    align-items: center;

    margin-right: 10px;

    @include flexDirection(column);
  }

  &__addItem {
    height: 25px;
    margin-right: 10px;

    &_error {
      outline: 2px $darkredcolor solid;
      background-color: #c76666;
    }
  }

  &__errorDiv {
    color: $darkredcolor;
  }

  &__btn {
    width: 25px;
    height: 25px;
    padding: 10px 15px;

    border-radius: 5px;
    background-color: #71b349;

    @include flexCenter;
  }
}

