@import '../scss/varibles/variables';

.wrapper {
  @include flexDirection(row);
  align-items: flex-start;
  justify-content: space-around;

  margin: 10px 30px;
  //border: 2px solid black;

  &__inputBlock {
    @include flexDirection(column);
    align-items: center;
    margin-right: 10px;
  }

  &__addItem {
    margin-right: 10px;
    height: 25px;

    &_error {
      outline: 2px $darkredcolor solid;
      background-color: #c76666;
    }
  }

  &__errorDiv {
    color: $darkredcolor;
  }

  &__btn {
    width: 25px;
    height: 25px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #71b349;
    @include flexCenter;
  }
}

